<!-- <div class="tab-view-container">
  
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a (click)="setRetailMarkers()" class="nav-link active btn" id="pills-retail-tab" data-toggle="pill" role="tab" aria-controls="pills-retail" data-target="#pills-retail" aria-selected="true">Retail</a>
    </li>
    <li class="nav-item">
      <a (click)="setBarMarkers()" class="nav-link btn" id="pills-bars-tab" data-toggle="pill" role="tab" aria-controls="pills-bar" data-target="#pills-bars" aria-selected="false">Bars/Restaurants</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-retail" role="tabpanel" aria-labelledby="pills-retail-tab">

      <div *ngIf="requestPending == true" class="spinner-container text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div class="tableFixHead">
        <table *ngIf="requestPending == false" id="off-prem-table"class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let retailLocation of retailLocations; index as i">
              <th scope="row">{{ retailLocation.label }}</th>
              <td>{{ retailLocation.title }}</td>
              <td>
                <a [href]="retailLocation.addressLink" target="_blank">{{
                  retailLocation.address
                }}</a>
              </td>
            </tr>

            <tr *ngIf="retailLocations.length == 0">
              <td colspan="3">No results</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="tab-pane fade" id="pills-bars" role="tabpanel" aria-labelledby="pills-bars-tab">
      <div *ngIf="requestPending == true" class="spinner-container text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <div class="tableFixHead">
        <table *ngIf="requestPending == false" id="off-prem-table" class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bar of bars; index as i">
              <th scope="row">{{ bar.label }}</th>
              <td>{{ bar.title }}</td>
              <td>
                <a [href]="bar.addressLink" target="_blank">{{
                  bar.address
                }}</a>
              </td>
            </tr>

            <tr *ngIf="bars.length == 0">
              <td colspan="3">No results</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
 -->
 <p-tabView (onChange)="handleChange($event)" >
     <p-tabPanel header="Retail" leftIcon="pi pi-calendar">

      <div *ngIf="requestPending == true" class="spinner-container text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <p-table *ngIf="requestPending == false" [columns]="cols" [value]="retailLocations" [scrollable]="true" scrollHeight="600px" [resizableColumns]="true">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pResizableColumn>
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" class="ui-resizable-column">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
    

     </p-tabPanel>
     <p-tabPanel header="Bars/Restaurants" leftIcon="pi pi-inbox">
         
      <div *ngIf="requestPending == true" class="spinner-container text-center">
        <div class="spinner-border" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <p-table *ngIf="requestPending == false" [columns]="cols" [value]="bars" [scrollable]="true" scrollHeight="600px" [resizableColumns]="true">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" [style.width]="col.width">
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns" pResizableColumn>
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" class="ui-resizable-column">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>

     </p-tabPanel>
 </p-tabView>